/* Webfont: Blaze-Regular */@font-face {
    font-family: 'Blaze';
    src: url('Blaze.eot'); /* IE9 Compat Modes */
    src: url('Blaze.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Blaze.woff') format('woff'), /* Modern Browsers */
         url('Blaze.woff2') format('woff2'), /* Modern Browsers */
         url('Blaze.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

