.Farming{
    display: flex;
    flex-direction: column;
    padding: 2em 5%;
    align-items: center;
}

.connectWalletBtn{
  display: flex;
  gap: 10px;
  clip-path: polygon( 0 0, 10% 0, 85% 0%, 100% 40%, 100% 100%, 100% 100%, 100% 100%, 15% 100%, 0% 65% );
  align-self: flex-end;
  background: linear-gradient(260.89deg, #E30022 9.53%, rgba(227, 0, 34, 0.55) 88.93%);
  color: White;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: capitalize;
  padding: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.mainLogoWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1em;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

.mainLogoWrapper img{
    width: 90%;
}

.insertTxt{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 160%;
}

.slotheading{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
}

.slotsWrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1020px;
}

.slotImgWrapper{
    position:relative;
    width: 300px;
    height: 300px;
    overflow:hidden;
    background: linear-gradient(260.89deg, #FFFFFF 9.53%, rgba(182, 182, 182, 0.55) 88.93%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    clip-path: polygon( 0 0, 10% 0, 85% 0%, 100% 40%, 100% 100%, 100% 100%, 100% 100%, 15% 100%, 0% 65% );
}

.slot{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.setnftperiodTxt{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 160%;

    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.setnftWrapper{
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
}






/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: white;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px white;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  


  .styledWrapper1{
    background: linear-gradient(260.89deg, #E30022 9.53%, rgba(227, 0, 34, 0.55) 88.93%);
  }

  .styledWrapper2{
    background-color: black;
    margin: 5px;
  }
  
  .styledWrapper3{
    background: linear-gradient(180deg, #181818 0%, rgba(24, 24, 24, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 70px 30px;
  }


  .goldenGradientTxt{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 50px;
    text-transform: capitalize;
    background: linear-gradient(260.89deg, #FFC700 9.53%, #E35200 88.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .txt1{
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 63px;
    text-transform: capitalize;
  }

  .txt2{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
  }

  .emergencyBtnWrapper1{
    background: linear-gradient(260.89deg, #E30022 9.53%, rgba(227, 0, 34, 0.55) 88.93%);
    cursor: pointer;
  }

  .emergencyBtnWrapper2{
    background-color: black;
    margin: 5px;
  }

  .txt3{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    text-align: center;    
    text-transform: uppercase;
  }

  .emergencyInfoTxt{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 160%;

    text-align: center;
  }

  .styledBtn1{
    background: linear-gradient(260.89deg, #E30022 9.53%, rgba(227, 0, 34, 0.55) 88.93%);
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    width: 240px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    clip-path: polygon( 0 0, 10% 0, 85% 0%, 100% 40%, 100% 100%, 100% 100%, 100% 100%, 15% 100%, 0% 65% );
    cursor: pointer;
  }

  .approveBtnWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3em;
    gap: 50px;
  }

  .farmingInfoDiv{
    font-family: 'JetBrains Mono';
    text-align: start;
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 160%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    max-width: 680px;
  }

  .farmingInfoList{
    list-style: decimal;
  }

  .farmingInfoList li{
    padding-left: 10px;
  }