.home{
    display: flex;
    flex-direction: column;
    padding: 2em 2em;
    align-items: center;
}


.mainLogoWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1em;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 3em;
}

.mainLogoWrapper img{
    width: 90%;
}

.homeBgImg1{
  position: absolute; 
}

.styledBtn1{
    display: flex;
    gap: 10px;
    background: linear-gradient(260.89deg, #E30022 9.53%, rgba(227, 0, 34, 0.55) 88.93%);
    color: White;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    padding: 10px 15px;
    width: 180px !important;
    clip-path: polygon( 0 0, 10% 0, 85% 0%, 100% 40%, 100% 100%, 100% 100%, 100% 100%, 15% 100%, 0% 65% );
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.btnWrapper{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 0.5em;
}

.aboutApeEraTxt{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 160%;

    text-align: center;
}

.aboutApeEraDescTxt{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    text-align: center;
    max-width: 1000px;
}

.aboutApeEraDescTxt span{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 160%;

    text-align: center;


    background: linear-gradient(260.89deg, #FFC700 9.53%, #E35200 88.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
}



.homefeatureGrid{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    gap: 50px;
    margin: 2em 0;
}

.homefeatureItemWrapper1{
    background: linear-gradient(260.89deg, #E30022 9.53%, rgba(227, 0, 34, 0.55) 88.93%);
    clip-path: polygon( 0 0, 10% 0, 85% 0%, 100% 40%, 100% 100%, 100% 100%, 100% 100%, 15% 100%, 0% 65% );
    width: 492.33px;
    height: 270.67px;
    padding: 5px;
}

.homefeatureItemWrapper2{
    clip-path: polygon( 0 0, 10% 0, 85% 0%, 100% 40%, 100% 100%, 100% 100%, 100% 100%, 15% 100%, 0% 65% );
    height: 100%;
}

.homefeatureItem{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    clip-path: polygon( 0 0, 10% 0, 85% 0%, 100% 40%, 100% 100%, 100% 100%, 100% 100%, 15% 100%, 0% 65% );
    height: 100%;
    padding: 10px 50px;
    text-align: left;
}

.homefeatureHeadingTxt{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 160%;
}

.homefeatureDescTxt{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
}

.homefeatureGridcol1{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.homefeatureGridcol2{
    display: flex;
    align-items: center;
    gap: 50px;
}

.heading1{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;

    text-align: center;
    margin: 1em 0;
}

.featureGridWrapper{
    display: flex;
    align-items: center;
    width: 100%;
}

.findUsWrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
}

.featureGridR1, .featureGridR2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heading2{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    text-align: center;
}

.disclaimerDropdown {
    position: relative;
    display: inline-block;
    width: 600px;
  }
  
  .dropbtn {
    box-shadow: inset 0px 0px 30px rgba(255, 255, 255, 0.05), inset 0px 2px 2px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 10px;
    cursor: pointer;
  }
  
  .disclaimerDropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .disclaimerDropdown-content.open {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  

  .disclaimerDropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .disclaimerDropdown-content.open {
    display: block;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.1s;
  }
  

  .roadmapItem1{
    text-align: left;
    background: black;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    clip-path: polygon( 0 0, 10% 0, 90% 0%, 100% 20%, 100% 100%, 100% 100%, 100% 100%, 10% 100%, 0% 80% );
  }

  .roadmapItem2{
    text-align: left;
    background: black;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    clip-path: polygon( 0 0, 10% 0, 90% 0%, 100% 20%, 100% 100%, 100% 100%, 100% 100%, 10% 100%, 0% 80% );
  }

  .roadmapItemWrapper1{
    background: linear-gradient(260.89deg, #E30022 9.53%, rgba(227, 0, 34, 0.55) 88.93%);
    padding: 5px;
    height: 150px;
    width: 270px;
    clip-path: polygon( 0 0, 10% 0, 90% 0%, 100% 20%, 100% 100%, 100% 100%, 100% 100%, 10% 100%, 0% 80% );
  }
 
  .roadmapItemWrapper2{
    background: linear-gradient(180deg, #181818 0%, rgba(24, 24, 24, 0) 100%);
    padding: 5px;
    height: 150px;
    width: 270px;
    clip-path: polygon( 0 0, 10% 0, 90% 0%, 100% 20%, 100% 100%, 100% 100%, 100% 100%, 10% 100%, 0% 80% );
  }

  .roadmapItemHeading{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
  }

  .roadmapItemTxt{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
  }

  .connectingDiv1{
    border: 5px solid #FFFFFF;
    width: 100px;
  }

  .roadmapRow1{
    display: flex;
    align-items: center;
  }

  .connectingDiv2{
    border: 5px solid #FFFFFF;
    height: 80px;
    margin-right: 200px;
    margin-left: auto;
  }

  .connectingDiv3{
    border: 5px solid #FFFFFF;
    height: 80px;
    margin-left: 180px;
    margin-right: auto;
  }

  .placeholderpictureWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 1em 0;
  }

  .nftCrousel{
    display: flex;
    width: 100%;
  }

  .nftCrouselDescWrapper1{
    width: 550px;
    padding: 25px;
    background: #040404;
    box-shadow: 0px -20px 20px rgba(13, 15, 14, 0.5);
    clip-path: polygon( 0 0, 10% 0, 90% 0%, 100% 20%, 100% 100%, 100% 100%, 100% 100%, 10% 100%, 0% 80% );
  }

  .nftCrouselDescWrapper2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background: linear-gradient(180deg, #181818 0%, rgba(24, 24, 24, 0) 100%);
    clip-path: polygon( 0 0, 10% 0, 90% 0%, 100% 20%, 100% 100%, 100% 100%, 100% 100%, 10% 100%, 0% 80% );
    padding: 15px 30px;
    gap: 20px;
  }

  .nftCrouselheading{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 160%;
  }

  .nftCrouselDesc{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    max-width: 270px;
  }

  .nftCrouselDesc span{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;

    color: #FFC700;
  }

  .nftCrouselItemLegendary{
    background: linear-gradient(260.89deg, #FFC700 9.53%, #FF5C00 88.93%);
    padding: 10px 20px;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;

    color: #181818;
    clip-path: polygon( 0 0, 10% 0, 85% 0%, 100% 40%, 100% 100%, 100% 100%, 100% 100%, 15% 100%, 0% 65% );
  }

  .nftCrouselCenterDiv{
    background: #040404;
    flex-grow: 0.6;
    height: 255px;
    align-self: end;
    display: flex;
    align-items: end;
    justify-content: center;
  }

  .nftCrouselCenterDiv img{
    height: 400px;
  }

  .nftCrouselSideDivWrapper{
    background: #040404;
    flex-grow: 1;
    transform: scaleX(-1);
    clip-path: polygon( 0 0, 10% 0, 80% 0%, 100% 20%, 100% 100%, 100% 100%, 100% 100%, 0% 100%, 0% 80% );
  }

.nftCrouselSideDiv{
  transform: scaleX(-1);
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: end;
  padding: 10px 10px 20px 10px;
}

.nftCrouselnextArrow{
  width: 70px;
  align-self: end;
  justify-self: end;
  cursor: pointer;
}


.aboutApeEraWrapper{
  margin-top: 2em;
}

.showAllnftBtn{
  display: flex;
  gap: 5px;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  cursor: pointer;
  height: fit-content;
  align-self: flex-end;
  align-items: center;
}

.showAllnftBtn img{
  width: 17px;
}


.mystryboxCrousel{
  display: flex;
  width: 100%;
}

.mystryboxCrouselDescWrapper1{
  width: 550px;
  padding: 25px;
  background: #040404;
  box-shadow: 0px -20px 20px rgba(13, 15, 14, 0.5);
  clip-path: polygon( 0 0, 10% 0, 90% 0%, 100% 20%, 100% 100%, 100% 100%, 100% 100%, 10% 100%, 0% 80% );
}

.mystryboxCrouselDescWrapper2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background: linear-gradient(180deg, #181818 0%, rgba(24, 24, 24, 0) 100%);
  clip-path: polygon( 0 0, 10% 0, 90% 0%, 100% 20%, 100% 100%, 100% 100%, 100% 100%, 10% 100%, 0% 80% );
  padding: 15px 30px;
  gap: 20px;
}

.mystryboxCrouselheading{
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 160%;
}

.mystryboxCrouselDesc{
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  max-width: 270px;
}

.mystryboxCrouselDesc span{
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;

  color: #FFC700;
}

.mystryboxCrouselItemLegendary{
  background: linear-gradient(260.89deg, #FFC700 9.53%, #FF5C00 88.93%);
  padding: 10px 20px;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: capitalize;

  color: #181818;
  clip-path: polygon( 0 0, 10% 0, 85% 0%, 100% 40%, 100% 100%, 100% 100%, 100% 100%, 15% 100%, 0% 65% );
}

.mystryboxCrouselCenterDiv{
  background: #040404;
  flex-grow: 0.6;
  height: 255px;
  align-self: end;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  flex-direction: column;
  padding-bottom: 20px;
}

.mystryboxCrouselCenterDiv img{
  height: 280px;    
  align-self: normal;
}

.mystryboxCrouselSideDivWrapper{
  background: #040404;
  flex-grow: 1;
  transform: scaleX(-1);
  clip-path: polygon( 0 0, 10% 0, 80% 0%, 100% 20%, 100% 100%, 100% 100%, 100% 100%, 0% 100%, 0% 80% );
}

.mystryboxCrouselSideDiv{
  transform: scaleX(-1);
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: end;
  padding: 20px 0;
}

.mystryboxCrouselnextArrow{
  width: 70px;
  align-self: end;
  justify-self: end;
  cursor: pointer;
}

.showAllraritiesBtn{
  display: flex;
  gap: 5px;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  cursor: pointer;
  height: fit-content;
  align-self: flex-end;
  align-items: center;
}

.showAllraritiesBtn img{
  width: 17px;
}

.buymysteryBoxBtn{
  display: flex;
  gap: 10px;
  clip-path: polygon( 0 0, 10% 0, 85% 0%, 100% 40%, 100% 100%, 100% 100%, 100% 100%, 15% 100%, 0% 65% );
  background: linear-gradient(260.89deg, #E30022 9.53%, rgba(227, 0, 34, 0.55) 88.93%);
  color: White;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: capitalize;
  padding: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}



.disclaimerDropdown{
  display: flex;
  flex-direction: column;
  background: #3B1D1E;
  gap: 5px;
  padding: 1em 1em;
  width: 600px;
  box-shadow: inset 0px 0px 30px rgb(255 255 255 / 5%), inset 0px 2px 2px rgb(255 255 255 / 15%);
  backdrop-filter: blur(20px);
  border-radius: 10px;
}


.disclaimerDropdownheading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 150%;
}


.disclaimerDropdownheading-content{
  display: flex;
  gap: 5px;
  align-items: center;
}



.dropdown-arrowicon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 4px;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-arrowicon:hover{
  background-color: rgba(153, 153, 153, 0.25);
}


.disclaimerDropdownWrapper{
  background: linear-gradient(260.89deg, #E30022 9.53%, rgba(227, 0, 34, 0.55) 88.93%);
  padding: 3px;
  border-radius: 10px;
  margin: 0.5em 0;
}

.disclaimerDropdowntxtContent{
    text-align: left;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    text-transform: capitalize;
}