.Sidebar{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 340px;
    height: max(100vh, 100%);
    left: 0px;
    top: 0px;
    background: #2C2C2C;
    justify-content: start;
    padding: 20px 0px 20px 40px;
    overflow-y : auto;
    z-index: 100;
}

.Sidebar[data-overlay]::before{
    background-image: linear-gradient(rgb(0 0 0 / 0.3), rgb(0 0 0 / 0.8));
}

.hide{
    display: none;
}

.sidebarList{
    width: 90%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listItem{
    border-radius: 10px;
    display: flex;
    max-width: 70%;
    padding: 5px 10px;
    gap: 10px;
    align-items: center;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 18.4479px;
    line-height: 160%;
    cursor: pointer;
}

.active{
    background: linear-gradient(260.89deg, #E30022 9.53%, rgba(227, 0, 34, 0.55) 88.93%);
}

.thetoken{
    margin-top: 2em;
}

.soonDiv{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 18.4479px;
    line-height: 160%;
    background: linear-gradient(260.89deg, #E30022 9.53%, rgba(227, 0, 34, 0.55) 88.93%);
    border-radius: 10px;
    margin-left: auto;
    padding: 5px 10px;
}

.listItemWrapper{
    display: flex;
    align-items: center;
    width: 100%;
}

.informationBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #FFFFFF;
    padding: 10px 15px;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15.4479px;
    line-height: 160%;
}

.contractAddress{
    color: #FF8093;
}

.contactAddressDiv{
    display: flex;
    gap: 10px;
}

.socialIconsWrapper{
    display: flex;
    gap: 5px;
}

.socialIcon1{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #97E0FF;
}

.socialIcon2{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #FF7474;
}

.socialIcon3{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #38B7FF;
}

.socialIcon4{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #F25BFF;
}

.informationBox img{
    cursor: pointer;
}

.informationBtn{
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.linksBtn{
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.contractaddressHeading{
    margin-top: 10px;
}

.socialsHeading{
    margin-top: 10px;
}

.closeBtn{
    margin-left: auto;
    margin-top: 10px;
    cursor: pointer;
}
