.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.sidebarOpenBtn{
  position: absolute;
  top: 40px;
  left: 20px;
  cursor: pointer;
}