.Token{
    display: flex;
    flex-direction: column;
    padding: 2em 5%;
    align-items: center;
}

.connectWalletBtn{
    display: flex;
    gap: 10px;
    clip-path: polygon( 0 0, 10% 0, 85% 0%, 100% 40%, 100% 100%, 100% 100%, 100% 100%, 15% 100%, 0% 65% );
    align-self: flex-end;
    background: linear-gradient(260.89deg, #E30022 9.53%, rgba(227, 0, 34, 0.55) 88.93%);
    color: White;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    padding: 10px 20px;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
}

.mainLogoWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1em;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 3em;
}

.mainLogoWrapper img{
    width: 90%;
}

.styledBtn1{
    display: flex;
    gap: 10px;
    background: linear-gradient(260.89deg, #E30022 9.53%, rgba(227, 0, 34, 0.55) 88.93%);
    color: White;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    padding: 10px 15px;
    width: 150px;
}

.btnWrapper{
    display: flex;
    justify-content: center;
    gap: 20%;
}

.membercntTxtWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1em;
}

.membercntTxt{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 70px;
}

.membercntWrapper1{
    background: linear-gradient(260.89deg, #E30022 9.53%, rgba(227, 0, 34, 0.55) 88.93%);
    padding: 5px;
    width: 100%;
    max-width: 700px;
}

.membercntWrapper2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    padding: 40px;
    gap: 50px;
}

.cntBox{
    display: flex;
    gap: 50px;
}

.memberdescTxt{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}


.collectBtn{
    display: flex;
    gap: 10px;
    background: linear-gradient(260.89deg, #E30022 9.53%, rgba(227, 0, 34, 0.55) 88.93%);
    color: White;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    padding: 10px 15px;
    width: -moz-fit-content;
    width: fit-content;
}
.styledBtn1{
    display: flex;
    gap: 10px;
    background: linear-gradient(260.89deg, #E30022 9.53%, rgba(227, 0, 34, 0.55) 88.93%);
    color: White;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    padding: 10px 15px;
    width: -moz-fit-content;
    width: fit-content;
}

.communityTxt{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.communityWrapper{

}

.communityIconWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.communityIcon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #97E0FF;
}


.tokenomicsHeading{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 160%;
    margin: 1em 0;
}

.featureGrid{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center !important;
    gap: 30px;
    max-width: 1100px;
}

.featureItemWrapper1{
    background: linear-gradient(260.89deg, #E30022 9.53%, rgba(227, 0, 34, 0.55) 88.93%);
    clip-path: polygon( 0 0, 10% 0, 90% 0%, 100% 20%, 100% 100%, 100% 100%, 100% 100%, 10% 100%, 0% 80% );
    width: 492.33px;
    height: 270.67px;
    padding: 5px;
}

.featureItemWrapper2{
    clip-path: polygon( 0 0, 10% 0, 90% 0%, 100% 20%, 100% 100%, 100% 100%, 100% 100%, 10% 100%, 0% 80% );
    height: 100%;
}

.featureItem{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    clip-path: polygon( 0 0, 10% 0, 90% 0%, 100% 20%, 100% 100%, 100% 100%, 100% 100%, 10% 100%, 0% 80% );
    height: 100%;
    padding: 10px 30px;
    text-align: left;
}

.featureHeadingTxt{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 160%;
}

.featureDescTxt{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
}

.supplyDivWrapper{
    margin-top: 2em;
    margin-bottom: 1em;
}

.supplyTxt{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 160%;
}

.supplyDescTxt{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
}

.howtoBuyWrapper{
    margin-top: 1em;
    margin-bottom: 2em;
}

.howtoBuyTxt{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 160%;
}

.howtoBuystepWrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.buyStep{
    display: flex;
    align-items: center;
    gap: 5%;
}

.stepsHeadingTxt{
    font-size:16px;
    line-height: 160%;
}

.stepsTxt{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 160%;
    text-align: left;
}

.stepnum{
    width: 43px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(260.89deg, #E30022 9.53%, rgba(227, 0, 34, 0.55) 88.93%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.stepnumTxt{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    background: black;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 160%;
}

.learnmoreTxt{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 160%;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.supplyplaceholderBackground{
    background: linear-gradient(260.89deg, #E30022 9.53%, rgba(227, 0, 34, 0.55) 88.93%);
    border-radius: 50%;
    width: 410px;
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.supplyplaceholderWrapper{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 160%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    padding: 10% 0;
}

.supplyplaceholderWrapper img{
    width: 250px;
}